/* FONTS  */
@font-face {
     font-family: "Kumbh Sans";
     src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"),
         url("../fonts/KumbhSans-Bold.woff") format("woff");
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: "Public Sans";
     src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
         url("../fonts/PublicSans-Regular.woff") format("woff");
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }


/* ROOT  */
:root{
     --text-color: #69707D;
     --text-color-dark: #1D2026;
     --accseni-color: #ff7e1b;
     --accsent-color-light: #ffeee2;
     --accsent-color-hover: #ffab6a;
     --light-bg: #f6f8fd;
     --diveder: #e4e9f2;
     --font-famly: "Kumbh Sans", "Arial", sans-serif;
}
/* GLOBALL */

html {
     height: 100%;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
     display: flex;
     height: 100%;
     padding: 0;
     margin: 0;
     flex-direction: column;
     background-color: #F2F2F2;
     color: var(--text-color);
     font-family: var(--font-famly);
     font-size: 16px;
     line-height: 26px;
}

img {
     max-width: 100%;
     height: auto;
}

/* AUTOFILL-STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
     border-color: transparent;
     -webkit-text-fill-color: inherit;
     -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
     color: rgba(52, 49, 61, 0.5);
     opacity: 1;
}

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
}
/* LOGO  */
.logo {
     display: inline-block;
}
.logo:hover{
     opacity: 0.8;
}
.logo:active{
     opacity: 0.6;
}
.logo__img {
     display: block;
     width: 138px;
     height: 20px;
     object-fit: contain;
}


/* CONTAINER  */

.container {
     width: 100%;
     max-width: 1148px;
     padding-left: 22px;
     padding-right: 22px;
     margin-left: auto;
     margin-right: auto;
}

.main-content {
     flex-grow: 1;
}

/* SITE HEADER */
.site-header {
}
.site-header__container {
     display: flex;
     align-items: center;
     border-bottom: 1px solid var(--diveder);
}
.site-header__logo{
     flex-shrink: 0;
     margin-right: 56px;
}
.sitenav__list {
     display: flex;
     margin: 0;
     padding: 0;
     list-style: none;
}
.sitenav__item{
     position: relative;
     padding-top: 50px;
     padding-bottom: 45px;
}
.sitenav__item:not(:last-child) {
     margin-right: 32px;
}

.sitenav__link {
     display: block;
     text-decoration: none;
     font-size: 15px;
     line-height: 26px;
     color: var(--text-color);
     transition: 0.5s ease-in-out;
}
.sitenav__link:hover{
     color: var(--text-color-dark);
}
.sitenav__link:hover::after{
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 4px;
     background-color: var(--accseni-color);
     content: "";
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}