/* FONTS  */
@font-face {
     font-family: "Kumbh Sans";
     src: url("../fonts/KumbhSans-Bold.woff2") format("woff2"),
         url("../fonts/KumbhSans-Bold.woff") format("woff");
     font-weight: bold;
     font-style: normal;
     font-display: swap;
 }

 @font-face {
     font-family: "Public Sans";
     src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
         url("../fonts/PublicSans-Regular.woff") format("woff");
     font-weight: normal;
     font-style: normal;
     font-display: swap;
 }


/* ROOT  */
:root{
     --text-color: #69707d;
     --text-color-dark: #1D2026;
     --accseni-color: #ff7e1b;
     --accsent-color-light: #ffeee2;
     --accsent-color-hover: #ffab6a;
     --light-bg: #f6f8fd;
     --diveder: #e4e9f2;
     --font-famly: "Kumbh Sans", "Arial", sans-serif;
     --font-famly-2: "Public Sans";
}
/* GLOBALL */

html {
     height: 100%;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

*,
*::before,
*::after {
     box-sizing: border-box;
}

body {
     display: flex;
     height: 100%;
     padding: 0;
     margin: 0;
     flex-direction: column;
     background-color: #F2F2F2;
     color: var(--text-color);
     font-family: var(--font-famly);
     font-size: 16px;
     line-height: 26px;
}

img {
     max-width: 100%;
     height: auto;
}

/* AUTOFILL-STYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
     border-color: transparent;
     -webkit-text-fill-color: inherit;
     -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
     color: rgba(52, 49, 61, 0.5);
     opacity: 1;
}

.visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     clip: rect(0 0 0 0);
     overflow: hidden;
}
/* LOGO  */
.logo {
     display: inline-block;
}
.logo:hover{
     opacity: 0.8;
}
.logo:active{
     opacity: 0.6;
}
.logo__img {
     display: block;
     width: 138px;
     height: 20px;
     object-fit: contain;
}


/* CONTAINER  */

.container {
     width: 100%;
     max-width: 1148px;
     padding-left: 22px;
     padding-right: 22px;
     margin-left: auto;
     margin-right: auto;
}

.main-content {
     flex-grow: 1;
}

/* SITE HEADER */
.site-header__container {
     position: relative;
     display: flex;
     align-items: center;
     border-bottom: 1px solid var(--diveder);
}
.site-header__logo{
     flex-shrink: 0;
     margin-right: 56px;
}
.sitenav__list {
     display: flex;
     margin: 0;
     padding: 0;
     list-style: none;
}
.sitenav__item{
     position: relative;
     padding-top: 50px;
     padding-bottom: 45px;
}
.sitenav__item:not(:last-child) {
     margin-right: 32px;
}

.sitenav__link {
     display: block;
     text-decoration: none;
     font-size: 15px;
     line-height: 26px;
     color: var(--text-color);
     transition: 0.5s ease-in-out;
}
.sitenav__link:hover{
     color: var(--text-color-dark);
}
.sitenav__link:hover::after{
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 4px;
     background-color: var(--accseni-color);
     content: "";
}
/* BUTTON  */
.button {
     display: inline-block;
     padding: 0;
     border: 0;
     border-radius: 10px;
     text-decoration: none;
     font-size: 16px;
     line-height: 1;
     font-weight: bold;
     cursor: pointer;
     background-color: var(--accseni-color);
     color: #fff;
     overflow: hidden;
     align-items: center;
}
.button--block{
     display: flex;
     width: 100%;
}
.button--wide{
     max-width: 262px;
}
.button:hover{
     background-color: var(--accsent-color-hover);
}
.button:active{
     transform: translateY(3px);
     opacity: 0.6;
}
.button__inner {
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
     padding: 22px 20px 18px;
}
.button__prepend{
     margin-right: 16px;
}
/* SHOPPING CART PRODUCTS  */
.shopping-cart-products {
     padding: 0;
     margin: 0;
     list-style: none;
}
.shopping-cart-products__item:not(:last-child) {
     margin-bottom: 16px;
}
.item-shopping-cart-products{
     display: flex;
     align-items: flex-start;
     margin-bottom: 15px;
}
.item-shopping-cart-product__img {
     flex-shrink: 0;
     width: 50px;
     height: 50px;
     margin-right: 16px;
     border-radius: 4px;
     object-fit: cover;
}
.item-shopping-cart-product__info {
     flex-grow: 1;
     width: 100%;
     margin-left: 19px ;
     overflow: hidden;
}
.item-shopping-cart-product__name {
     font-family: var(--font-famly-2);
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
     text-transform: capitalize;

}
.item-shopping-cart-products__cost {
     font-family: var(--font-famly-2);
}
.item-shopping-cart-products__subtotal{
     color: var(--text-color-dark);
}

.item-shopping-cart-products__remove-button {
     padding: 0;
     border: 0;
     background-color: transparent;
     color:#C3CAD9;
     align-self: center;
     cursor: pointer;
}
.item-shopping-cart-products__remove-button:hover{
     color: var(--text-color-dark);
}
.item-shopping-cart-products__remove-button:active{
     opacity: 0.6;
}
.item-shopping-cart-products__remove-icon{
     display: block;
     width: 14px;
     height: 16px;
}

/* SHOPPING CART  */
.shopping-cart {
     display: flex;
     flex-direction: column;
     width: 100%;
     border-radius: 6px;
     min-height: 256px;
     background-color: #fff;
}
.shopping-cart--modal {
     box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
}
.shopping-cart__header {
     padding: 24px 24px 27px;
     border-bottom: 1px solid var(--diveder);
}
.shopping-cart__title {
     margin: 0;
     font-size: 16px;
     line-height: 20px;
     color: var(--text-color-dark);
}
.shopping-cart__inner {
     flex-grow: 1;
     display: flex;
     flex-direction: column;
     padding: 24px;
}
.shopping-cart__empty{
     display: none;
}
.shopping-cart--empty .shopping-cart__empty{
     flex-grow: 1;
     display: flex;
     align-items: center;
     justify-content: center;
}
.site-header_sitenav{
     margin-right: auto;
}
.site-header__cart{
     display: flex;
     margin-right: 46px;
     margin-left: 24px;
}

.site-header__cart-link {
     position: relative;
     display: flex;
     color: var(--text-color);
}
.site-header__cart-link:hover {
     color: var(--text-color-dark);
}
.site-header__cart-link:active{
     opacity: 0.6;
}

.site-header__cart-icon {
     width: 22px;
     height: 20px;
     object-fit: contain;
}
.site-header__cart-product-count{
     position: absolute;
     left: calc(100% - 13px);
     top: -6px;
     padding: 1px 8px;
     font-size: 10px;
     border-radius: 6.5px;
     line-height: normal;
     font-weight: bold;
     background-color: var(--accseni-color);
     color: #fff;
}
/* .site-header__cart--empty .site-header__cart-product-count{
     display: none;
} */
.site-header__profile-avatar{
     width: 50px;
     height: 50px;
     /* border-radius: 50%; */
     transition: 0.5s ease;
     overflow: hidden;
}

.site-header__profile-avatar:hover{
     border-radius: 50%;
     border: 3px solid var(--accseni-color);
}
.site-header__profile-avatar:active{
     opacity: 0.6;
}

/* SHOPPING CARTS  */
.site-hader__cart-modal{
     display: none;
}
.site-hader__cart-modal--open {
     display: block;
     position: absolute;
     right: -76px;
     top: 94px;
     width: 360px;
}
/* SHOPPING-CART-PRODUCT  */
.shopping-cart--empty .shopping-cart__content{
     display: none;
}
.shopping-cart__products{
     margin-bottom: 24px;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {}